<header>
  <nav>
    <h3>
      <a href="{% url 'task_manager:index' %}">Home</a>
    </h3>

    {% if task %}
      <h3>
        <strong>Task #{{ task.id }}</strong>
      </h3>
    {% elif project %}
      <h3>
        <strong>{{ project.name }}</strong>
      </h3>
    {% endif %}

    {% if user.is_authenticated %}
      <h3>
        <a href="{% url 'logout' %}">Logout</a>
      </h3>
    {% else %}
      <h3>
        <a href="{% url 'login' %}">Log in</a>
      </h3>
    {% endif %}
  </nav>
</header>
