{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block title %}
  Task Manager | Home
{% endblock %}

{% block content %}
  <nav>
    <form method="get" action="" class="form-inline">
      {{ search_form|crispy }}
      <input type="submit" class="btn btn-default" value="🔍" >
    </form>
    <a href="{% url 'task_manager:project-create' %}" class="btn btn-primary link-to-page">
        Create project
    </a>
  </nav>

  {% for project in projects %}
    <li class="page-item-list">
      <a href="{% url 'task_manager:project-task-list' pk=project.id %}"><h2>{{ project.name }}</h2></a>
      <p class="project-description" >
        {{ project.description }}
      </p>
    </li>
  {% endfor %}
{% endblock %}